USE [master]
GO
/****** Object:  Database [Knjige]    Script Date: 9/28/2025 1:56:51 PM ******/
CREATE DATABASE [Knjige]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Knjige', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Knjige.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Knjige_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Knjige_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Knjige].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Knjige]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[autor_id] [int] NOT NULL,
	[ime] [nvarchar](50) NULL,
	[prezime] [nvarchar](50) NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[autor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoriti]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoriti](
	[favorit_id] [int] IDENTITY(1,1) NOT NULL,
	[korisnik_id] [int] NULL,
	[knjiga_id] [int] NULL,
 CONSTRAINT [PK_Favoriti] PRIMARY KEY CLUSTERED 
(
	[favorit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historija]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historija](
	[historija_id] [int] NOT NULL,
	[korisnik_id] [int] NULL,
	[knjiga_id] [int] NULL,
 CONSTRAINT [PK_Historija] PRIMARY KEY CLUSTERED 
(
	[historija_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knjige]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knjige](
	[knjiga_id] [int] NOT NULL,
	[naslov] [nvarchar](50) NULL,
	[autor] [nvarchar](50) NULL,
	[opis] [varchar](max) NULL,
	[zanr_id] [int] NULL,
	[autor_id] [int] NULL,
	[korisnik_id] [int] NULL,
	[slika_url] [varchar](255) NULL,
	[PdfUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Knjige] PRIMARY KEY CLUSTERED 
(
	[knjiga_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komentari]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentari](
	[komentar_id] [int] NOT NULL,
	[recenzija_id] [int] NULL,
	[korisnik_id] [int] NULL,
	[tekst_komentara] [nvarchar](50) NULL,
	[datum_komentara] [datetime] NULL,
 CONSTRAINT [PK_Komentari] PRIMARY KEY CLUSTERED 
(
	[komentar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[korisnik_id] [int] IDENTITY(1,1) NOT NULL,
	[korisnicko_ime] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[lozinka] [varchar](100) NULL,
	[datum_registracije] [datetime] NULL,
	[ime] [nvarchar](50) NULL,
	[prezime] [nvarchar](50) NULL,
 CONSTRAINT [PK_Korisnici] PRIMARY KEY CLUSTERED 
(
	[korisnik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preporuka]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preporuka](
	[preporuka_id] [int] IDENTITY(1,1) NOT NULL,
	[korisnik_id] [int] NULL,
	[knjiga_id] [int] NULL,
	[datum_preporuke] [datetime] NULL,
 CONSTRAINT [PK_Preporuka] PRIMARY KEY CLUSTERED 
(
	[preporuka_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recenzije]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recenzije](
	[recenzija_id] [int] IDENTITY(1,1) NOT NULL,
	[korisnik_id] [int] NULL,
	[knjiga_id] [int] NULL,
	[ocjena] [int] NULL,
	[komentar] [nvarchar](50) NULL,
	[datum_recenzije] [datetime] NULL,
 CONSTRAINT [PK_Recenzije] PRIMARY KEY CLUSTERED 
(
	[recenzija_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zanr]    Script Date: 9/28/2025 1:56:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zanr](
	[zanr_id] [int] NOT NULL,
	[naziv_zanra] [nvarchar](50) NULL,
 CONSTRAINT [PK_Zanr] PRIMARY KEY CLUSTERED 
(
	[zanr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Favoriti]  WITH CHECK ADD  CONSTRAINT [FK_Favoriti_Knjige] FOREIGN KEY([knjiga_id])
REFERENCES [dbo].[Knjige] ([knjiga_id])
GO
ALTER TABLE [dbo].[Favoriti] CHECK CONSTRAINT [FK_Favoriti_Knjige]
GO
ALTER TABLE [dbo].[Favoriti]  WITH CHECK ADD  CONSTRAINT [FK_Favoriti_Korisnici] FOREIGN KEY([korisnik_id])
REFERENCES [dbo].[Korisnici] ([korisnik_id])
GO
ALTER TABLE [dbo].[Favoriti] CHECK CONSTRAINT [FK_Favoriti_Korisnici]
GO
ALTER TABLE [dbo].[Historija]  WITH CHECK ADD  CONSTRAINT [FK_Historija_Knjige1] FOREIGN KEY([knjiga_id])
REFERENCES [dbo].[Knjige] ([knjiga_id])
GO
ALTER TABLE [dbo].[Historija] CHECK CONSTRAINT [FK_Historija_Knjige1]
GO
ALTER TABLE [dbo].[Historija]  WITH CHECK ADD  CONSTRAINT [FK_Historija_Korisnici] FOREIGN KEY([korisnik_id])
REFERENCES [dbo].[Korisnici] ([korisnik_id])
GO
ALTER TABLE [dbo].[Historija] CHECK CONSTRAINT [FK_Historija_Korisnici]
GO
ALTER TABLE [dbo].[Knjige]  WITH CHECK ADD  CONSTRAINT [FK_Knjige_Autor] FOREIGN KEY([autor_id])
REFERENCES [dbo].[Autor] ([autor_id])
GO
ALTER TABLE [dbo].[Knjige] CHECK CONSTRAINT [FK_Knjige_Autor]
GO
ALTER TABLE [dbo].[Knjige]  WITH CHECK ADD  CONSTRAINT [FK_Knjige_Korisnici] FOREIGN KEY([korisnik_id])
REFERENCES [dbo].[Korisnici] ([korisnik_id])
GO
ALTER TABLE [dbo].[Knjige] CHECK CONSTRAINT [FK_Knjige_Korisnici]
GO
ALTER TABLE [dbo].[Knjige]  WITH CHECK ADD  CONSTRAINT [FK_Knjige_Zanr] FOREIGN KEY([zanr_id])
REFERENCES [dbo].[Zanr] ([zanr_id])
GO
ALTER TABLE [dbo].[Knjige] CHECK CONSTRAINT [FK_Knjige_Zanr]
GO
ALTER TABLE [dbo].[Komentari]  WITH CHECK ADD  CONSTRAINT [FK_Komentari_Korisnici] FOREIGN KEY([korisnik_id])
REFERENCES [dbo].[Korisnici] ([korisnik_id])
GO
ALTER TABLE [dbo].[Komentari] CHECK CONSTRAINT [FK_Komentari_Korisnici]
GO
ALTER TABLE [dbo].[Komentari]  WITH CHECK ADD  CONSTRAINT [FK_Komentari_Recenzije] FOREIGN KEY([recenzija_id])
REFERENCES [dbo].[Recenzije] ([recenzija_id])
GO
ALTER TABLE [dbo].[Komentari] CHECK CONSTRAINT [FK_Komentari_Recenzije]
GO
ALTER TABLE [dbo].[Preporuka]  WITH CHECK ADD  CONSTRAINT [FK_Preporuka_Knjige] FOREIGN KEY([knjiga_id])
REFERENCES [dbo].[Knjige] ([knjiga_id])
GO
ALTER TABLE [dbo].[Preporuka] CHECK CONSTRAINT [FK_Preporuka_Knjige]
GO
ALTER TABLE [dbo].[Preporuka]  WITH CHECK ADD  CONSTRAINT [FK_Preporuka_Korisnici] FOREIGN KEY([korisnik_id])
REFERENCES [dbo].[Korisnici] ([korisnik_id])
GO
ALTER TABLE [dbo].[Preporuka] CHECK CONSTRAINT [FK_Preporuka_Korisnici]
GO
ALTER TABLE [dbo].[Recenzije]  WITH CHECK ADD  CONSTRAINT [FK_Recenzije_Knjige] FOREIGN KEY([knjiga_id])
REFERENCES [dbo].[Knjige] ([knjiga_id])
GO
ALTER TABLE [dbo].[Recenzije] CHECK CONSTRAINT [FK_Recenzije_Knjige]
GO
ALTER TABLE [dbo].[Recenzije]  WITH CHECK ADD  CONSTRAINT [FK_Recenzije_Korisnici] FOREIGN KEY([korisnik_id])
REFERENCES [dbo].[Korisnici] ([korisnik_id])
GO
ALTER TABLE [dbo].[Recenzije] CHECK CONSTRAINT [FK_Recenzije_Korisnici]
GO
USE [master]
GO
